.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first .country--ethiopia {
  align-self: flex-end;
}

.countries--second {
  align-items: center;
}

.countries--second li:nth-child(3) {
  align-self: end;
}

.countries--third {
  align-items: flex-end;
}

.countries--third li:first-child,
li:last-child {
  align-self: baseline;
}

.countries--fourth {
  flex-direction: column;
  align-items: baseline;
}

.countries--fourth li:last-child {
  align-self: center;
}
